/*!
 * All Rights Reserved
 * This software is proprietary information of
 * Intelligent Sense
 * Use is subject to license terms.
 * Filename: styles.css
 */

header{
    width:15%;
    margin-right:auto;
    margin-left:auto;
}

.flexcontainer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

}

#flexbox div {
    height: 400px;
    width: 800px;
    background: #0000FF;
    margin: 100px;
    line-height: 30px;
    color: #fff;
    font-family:Tangerine;
    font-size: 40px;
}

#flexbox div:nth-child(2) {
    background: #3366FF;
    height: 400px;
    width: 800px;
    font-family:Rancho;
    font-size: 20px;
}

#flexbox div:nth-child(3) {
    background: #996633;
    height: 400px;
    width: 800px;
    font-family:Inconsolata;
    font-size: 15px;
}

.text{
    margin-right:25px;
    margin-left:25px;
}

.facIcon{
    height: 200px;
    width: 200px;
    margin-right:25px;
    margin-left:25px;
    margin-top:-90px;
}

.twtIcon{
    height: 120px;
    width: 120px;
    margin-right: 25px;
    margin-left: 60px;
    margin-top: -25px;
}

.insIcon{
    height: 120px;
    width: 120px;
    margin-right: 25px;
    margin-left: 60px;
    margin-top: -25px;
}